.projectCard{
    background: lightcyan;
    display: flex;
    flex-direction: column;
    min-height: 200px;
    min-width: 40%;
    padding: 10px;
    flex: 2 2 100px;
}

.cardHeader{
    background: brown;
    text-align: center;
}

#imageStandIn{
    background: lightgreen;
    height: 100px;
}